.header-container {
  max-width: 100%;
  padding: 1rem;
  background-color: $header-bg-color;
  box-shadow: $shadow;
  transition: all 50ms linear;
}
.header-container-expanded {
  display: flex;
  flex-direction: row;
  height: 5rem;
}
.header-container-collapsed {
  height: 1rem;
}
.header-title-text {
  color: white;
}
.header-link-text {
  padding-left: .5rem;
  padding-right: .5rem;
  text-align: middle;
}
.header-link {
  color: white;
  padding-left: 1rem;
}
.header-active-link {
  color: $subtle-highlight;
  font-weight: bold;
}
.collapse-button-container {
  float: right;
}
.button-collapse {
  background-color: rgba(0,0,0,0) !important;
  box-shadow: none !important;
  margin-top: -1.2rem !important;
  float: right;
}