.ReportEditor-text-input {
  background-color: rgba($theme, 0.2);
  margin: 0;
  padding: .2rem;
  border: none;
}

.ReportEditor-select-input {
  background-color: rgba($theme, 0.2);
  margin: 0;
  padding: .2rem;
  border: none;
  width: 100%;
}

.ReportEditor-number-input {
  background-color: rgba($theme, 0.2);
  margin: 0;
  padding: .2rem;
  border: none;
  width: 98%;
}

.ReportEditor-textarea-input {
  background-color: rgba($theme, 0.2);
  margin: 0;
  padding: .2rem;
  border: none;
  width: 98%;
}

.ReportEditor-milestone-row td {
  padding: 1rem !important;
}