.main-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.secondary-page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.secondary-page-container {
  height: calc(100% - #{$navbar-height});
}
@media only screen and (max-width: $width-breakpoint) {
  .secondary-page-container {
    height: calc(100% - #{$navbar-height-h-break});
  }
}
@media only screen and (max-height: $height-breakpoint) {
  .secondary-page-container {
    height: calc(100% - #{$navbar-height-v-break});
  }
}

.main-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: .5rem;  
}
