.device-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100rem;
    //align-items: center;
    align-items: stretch; 
    text-align: center;
}
.device-container {
    display: flex;
    flex-direction: column;
    border-radius: .4rem;
    background-color: rgb(65, 65, 65);
    padding: .5rem;
    border-left: .3rem solid $theme;

}
.device-sub-container {
    background-color: rgb(102, 102, 102);
    padding: .3rem;
    border-left: .3rem solid rgb(205, 77, 255);
    border-radius: .4rem;
}
.device-option-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: .3rem;
    padding-right: .3rem;
    margin-bottom: .5rem;
    border-radius: .4rem;
    background-color: rgb(80, 80, 80);
    box-shadow: 0 .4rem .2rem -.2rem rgba(0, 0, 0, 0.5);
    min-height: 4.5rem;
}
.device-label-container {
    border: none;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    align-items: flex-start;
    position: relative;
} 
.device-sub-title {
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
}
.device-content .slider { //recolour the toggle switches
    background-color: rgb(53, 53, 53);
}

.device-icon {
    margin-top: .4rem;
    margin-right: 1rem;
    margin-left: .5rem;
}
.device-subtitle-icon {
    position: absolute;
    left: .5rem;
}

.device-content input {
    //background-color: rgba(0,0,0,0);
    font-style: italic;
    color: white;
    font-weight: bold;
}

.device-label-input {
    background-color: rgba(0,0,0,0);
    border: none;
    margin-right: .3rem;
    margin-left: .3rem;
    text-align: center;
    //margin-top: .4rem;
    height: 4rem;
}
.device-email-input {
    background-color: rgba(0,0,0,0);
    border: none;
    margin-right: .3rem;
    margin-left: .3rem;
}
.device-number-input {
    background-color: rgba(0,0,0,0);
    border: none;
    margin-right: .3rem;
    margin-left: .3rem;
    max-width: 5rem;
    text-align: center;
    min-height: 3.6rem;
    margin-top: .4rem;
}
.plant-name-input {
    background-color: rgba(17, 17, 17, 0.5);
    min-height: 3.6rem;
    margin-top: .4rem;
    text-align: center;
    border: .1rem solid rgba(59, 59, 59, 0.5);
    border-radius: .4rem;
    width: 100%;
}

.device-option-container > label {
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: 1.2rem;
}
.device-container .fas {
    text-shadow: .2rem .2rem .3rem rgba(0,0,0,0.5);
    font-size: $l-size;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

.device-caret {
    margin-top: .6rem;
    margin-right: 1.2rem;
}

// .device-number-group {
//     display: flex;
//     flex-direction: row;
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     padding-right: .5rem;
// }
// .device-number-buttons-container {
//     height: 100%;
//     display: flex;
//     flex-direction: row;
// }
// .button-device-number {
//     height: 100%;
//     margin: 0;
//     margin-right: .3rem;
//     margin-left: .3rem;
//     font-size: $xs-size;
//     width: 2rem;
// }