.device-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100rem;
    //align-items: center;
    align-items: stretch; 
    text-align: center;
}
.device-container {
    display: flex;
    flex-direction: column;
    border-radius: .4rem;
    background-color: rgb(65, 65, 65);
    padding: .5rem;
    border-left: .3rem solid $theme;
    margin-bottom: .5rem;
}
.device-alerts-container {
    border-left: .3rem solid rgb(91, 255, 69);
}
.device-sub-container {
    background-color: rgb(102, 102, 102);
    padding: .3rem;
    border-left: .3rem solid rgb(205, 77, 255);
    border-radius: .4rem;
    margin-bottom: .5rem;
}
.device-option-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: .3rem;
    padding-right: .3rem;
    margin-bottom: .5rem; 
    border-radius: .4rem;
    background-color: rgb(80, 80, 80);
    box-shadow: 0 .4rem .2rem -.2rem rgba(0, 0, 0, 0.5);
    min-height: 4.5rem;
}
.device-label-container {
    border: none;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    align-items: flex-start;
    position: relative;
    margin-top: .5rem;
} 
.device-sub-title {
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
}
.device-content .slider { //recolour the toggle switches
    background-color: rgb(53, 53, 53);
}

.device-icon {
    margin-top: .4rem;
    margin-right: 1.2rem;
    margin-left: .5rem;
    cursor: pointer;
}

.device-content input {
    font-style: italic;
    color: white;
    font-weight: bold;
}

.device-label-input {
    background-color: rgba(0,0,0,0);
    border: none;
    text-align: center;
    height: 4rem;
    //width: 100%;
}
.device-label-input:focus{
    outline: none;
}

.plant-name-input {
    background-color: rgba(17, 17, 17, 0.5);
    text-align: center;
    border-radius: .4rem;
}
.plant-name-input:focus{
    outline: none;
}



.device-email-input {
    background-color: rgba(0,0,0,0);
    border: none;
    margin-right: .3rem;
    margin-left: .3rem;
    padding-left: .5rem;
    padding-right: .5rem;
}
.device-number-input {
    background-color: rgba(0,0,0,0);
    border: .2rem solid $theme;
    margin-right: .3rem;
    margin-left: .3rem;
    max-width: 5rem;
    text-align: center;
    height: 3rem;
    margin-top: .4rem;
}
.device-number-input:disabled {
    border: .2rem solid rgb(97, 97, 97);
}



.device-option-container > label {
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: 1.2rem;
}
.device-container .fas, .device-container .far {
    text-shadow: .2rem .2rem .3rem rgba(0,0,0,0.5);
    font-size: $l-size;
}

.device-caret {
    margin-top: .6rem;
    margin-right: 1.2rem;
    margin-left: 1.2rem;
    cursor: pointer;
    transition: transform .8s;
    //transform: rotate(180deg);
}
.device-caret:hover {
    color: rgb(205, 77, 255);
}
.device-label-input:hover {
    color: rgb(205, 77, 255);
}
.plant-name-input:hover {
    color: rgb(205, 77, 255);
}
.icon-selected {
    text-shadow: 0 0 10px $theme !important; //, 0 0 20px rgba(255, 136, 0, 0.5), 0 0 30px rgba(255, 136, 0, 0.5), 0 0 40px rgba(255, 136, 0, 0.5);
}
.device-invalid-email {
    border: .4rem dotted rgb(255, 57, 57);
    border-radius: .8rem;
}
.device-save-error {
    color: rgb(255, 57, 57);
    margin-top: 0;
}

// .rot {
//     transform: translate(150px, 150px) rotate(80deg);
// }

// input[type=number]::-webkit-inner-spin-button, 
// input[type=number]::-webkit-outer-spin-button {  
//    opacity: 1;
// }


// .device-number-group {
//     display: flex;
//     flex-direction: row;
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     padding-right: .5rem;
// }
// .device-number-buttons-container {
//     height: 100%;
//     display: flex;
//     flex-direction: row;
// }
// .button-device-number {
//     height: 100%;
//     margin: 0;
//     margin-right: .3rem;
//     margin-left: .3rem;
//     font-size: $xs-size;
//     width: 2rem;
// }