.main-menu-container {
  padding: 2rem;
}
.main-menu-container h2 {
  margin-top: 2rem;
}
.application-content-container {
  padding: 1.5rem;
}

.menu-table {
  margin-top: 2rem;
  border-collapse: collapse;
  max-width: 80rem;
}
.menu-table tr {
  line-height: 2.2rem;
}
.menu-table td {
  border-bottom: .1rem solid lighten($border-color, 20%);
}
.menu-table th {
  text-align: left;
  padding-right: 4rem;
  border-bottom: .1rem solid $border-color;
}
.menu-table tr:hover {
  background-color: $hover-row;
}
.menu-table td:hover {
  background-color: $hover-cell;
}