button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}

.button-default {
  //font-weight: bold;
  font-size: 4rem;
  padding: 1.5rem;
  color: $selected;
  background-color: $theme;
  border: 0;
  border-bottom: .4rem solid darken($theme, 10%);
  margin: .8rem;
}
.button-default:disabled {
  opacity: .5;
}

.button-good {
  background-color: $good;
  border-bottom: .4rem solid darken($good, 10%);
}
.button-ok {
  background-color: $ok;
  border-bottom: .4rem solid darken($ok, 10%);
}
.button-bad {
  background-color: $bad;
  border-bottom: .4rem solid darken($bad, 10%);
}

@media only screen and (max-width: $width-breakpoint) {
  .button-default{
    font-size: 2rem;
    padding: .5rem;
    border-bottom: .2rem solid darken($theme, 10%);
  }
  .button-good {
    border-bottom: .2rem solid darken($good, 10%);
  }
  .button-ok {
    border-bottom: .2rem solid darken($ok, 10%);
  }
  .button-bad {
    border-bottom: .2rem solid darken($bad, 10%);
  }
}
@media only screen and (max-height: $height-breakpoint) {
  .button-default{
    font-size: 2rem;
    padding: .5rem;
    border-bottom: .2rem solid darken($theme, 10%);
  }
  .button-good {
    border-bottom: .2rem solid darken($good, 10%);
  }
  .button-ok {
    border-bottom: .2rem solid darken($ok, 10%);
  }
  .button-bad {
    border-bottom: .2rem solid darken($bad, 10%);
  }
}


