
//
// Style checkboxes
//
.checkbox-container {
  display: inline;
  position: relative;
  margin-left: .2rem;
  margin-bottom: 0rem;
  cursor: pointer;
  font-size: 2.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox-checkmark {
  position: absolute;
  display: inline;
  top: .6rem;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkbox-checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkbox-checkmark {
  background-color: $theme;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkbox-checkmark:after {
  display: inline;
}
/* Style the checkmark/indicator */
.checkbox-container .checkbox-checkmark:after {
  left: .9rem;
  top: .5rem;
  width: .5rem;
  height: 1rem;
  border: solid white;
  border-width: 0 .3rem .3rem 0;
  WebkitTransform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}