
.menu-container {
  display: flex;
  flex-direction: column;
  width: 15%;
  left: 0;
  top: 0;
  background-color: $base;
}

.menu-container {
  height: calc(100% - #{$navbar-height});
}
@media only screen and (max-width: $width-breakpoint) {
  .menu-container {
    height: calc(100% - #{$navbar-height-h-break});
  }
}
@media only screen and (max-height: $height-breakpoint) {
  .menu-container {
    height: calc(100% - #{$navbar-height-v-break});
  }
}

.fa-menu {
  margin-right: .4rem;
}

.menu-button{
  min-height: 3rem;
  height: 5rem;
  font-size: $m-size;
}

.menu-burger-button {
  width: 4rem;
}

@media only screen and (max-width: 1200px) {
  .menu-button{
    font-size: $s-size;
  }
  .menu-container {
    width: 25%;
  }
}
@media only screen and (max-width: $width-breakpoint) {
  .menu-button{
    font-size: $m-size;
    height: 5rem;
  }
  .menu-container {
    position: absolute;
    top: $navbar-height-h-break;
    width: 100%;
    z-index: 9;
  }
}
@media only screen and (max-height: $height-breakpoint) and (max-width: $width-breakpoint) {
  .menu-container {
    position: absolute;
    top: $navbar-height-v-break;
    width: 100%;
    z-index: 9;
  }
}