
//
// MODAL TABS
//
.tab-container {
  width: 100%;
  height: 6rem;
  display: flex;
}
.tab {
  position: relative;
  margin: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  background-color: $surround;
  cursor: pointer;
}
.tab-light {
  background-color: $surround-light;
}
@media only screen and (max-width: $width-breakpoint) {
  .tab > h1 {
    margin-top: .2rem;
    margin-bottom: .2rem;
  }
  .tab-container{
    height: auto;
  }
}
@media only screen and (max-height: $height-breakpoint) {
  .tab > h1 {
    margin-top: .2rem;
    margin-bottom: .2rem;
  }
  .tab-container{
    height: auto;
  }
}
.tab-selected {
  color: $theme;
  background-color: lighten($surround, 10%);
}
.tab-selected-light {
  color: $theme;
  background-color: lighten($surround-light, 10%);
}
.tab-disabled {
  color: lighten($surround, 10%);
}
.tab-disabled-light {
  color: lighten($surround-light, 10%);
}